@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0 box-border;
}

.container {
  @apply w-full;
}

.panel {
  @apply w-full h-screen flex justify-center items-center bg-black;
}

.mainMessage {
  @apply font-bold text-8xl text-white opacity-0;
  font-family: "Patrick Hand SC", cursive;
}

.scroll-section h3 {
	@apply text-white text-7xl uppercase
} 

.scroll-section-outer {
  @apply overflow-hidden bg-black
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
} */
